body {
    padding-top: 10px;
}
.d-block {
    height: 90vh;
}

.carousel-caption {
    text-shadow: 0 0 30px #000;
}
nav {
    box-shadow: 0 0 2px black, 0 1px 2px black ;
}
.nav-link:hover {
    color: #1ec677;

}

.carousel-caption .btn-primary {
    background-color: lightgreen;
}

.nav-link:hover {
    color: #1ec677;
}


.carousel-caption h1 {
    margin-bottom: 1px;
    text-align: left;
    font-size: 50px;
    font-weight: 700;
}

.carousel-caption h1 {
    margin-bottom: 70px;
}

#carousel-caption .row {
    margin-bottom: 50px;
}

label {
    color: #000;
}

#carousel-caption .row .btn {
    padding: 15px 40px;
    background-color: limegreen;
    border: 0;
    color: #000;
    border-radius: 30px;
}

input[type="text"] {
    width: 300px;
    border-radius: 30px;
    padding: 10px 30px;
}

input[type="text"]::placeholder {
    color: gainsboro;
}

input[type="text"]:focus {
    border-color: #0000008b;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px #000;
    outline: 0 none;
}

.btn-primary {
    padding: 10px 100px;
}
.section img {
    width: 400px;
}
.section .btn:hover {
    background-color: black;
}
@media screen and (max-width:720px) {
    .carousel-caption h1 {
        font-size: 20px;
    }

    .row .btn {
        margin-top: 40px;
        width: 300px;
    }
    #details .row .col img {
        width: 300px;
    }
    #early .row .col img {
width: 300px;
    }
    #fees-section .row .col img {
        width: 300px;
    }
}