.d-block {
    height: 90vh;
}

.carousel-caption {
    text-shadow: 0 0 30px #000;
}

.nav-link:hover {
    color: lightgreen;

}


.nav-link:hover {
    color: lightgreen;
}

.carousel-caption h1 {
    margin-bottom: 20px;
    text-align: left;
    font-size: 50px;
    font-weight: 700;
}

.row {
    margin-bottom: 100px;
}

label {
    color: #000;
}

.row .btn {
    padding: 15px 40px;
    background-color: limegreen;
    border: 0;
    color: #000;
    border-radius: 30px;
}

input[type="text"] {
   width: 300px;
    border-radius: 30px;
    padding: 10px 30px;
}

input[type="text"]:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}

@media screen and (max-width:720px) {
    .carousel-indicators {
        position: absolute;
        top: 10px;
    }

    .d-block {
        height: 40vh;
        background-position: 40% 50%;
    }


   p {
    display: none;

   }
   .carousel-caption h1 {
    
   }
   .row {
   
    position: absolute;
   }
}